body {
  font-family: Arial;
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
}
button {
  padding: 10px 20px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
